/* .container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    /* khoảng cách giữa các item */

justify-content: space-between;

}
.student-card {
    flex: 0 1 calc(50% - 10px);
    /* mỗi thẻ chiếm 50% hàng */
    
    border: 1px solid #ccc;
    padding: 15px;
    border-radius: 8px;
    background: #f9f9f9;
}
*/